run = "npx quartz build --serve --port 3000 --wsPort 9000 --remoteDevHost $REPL_SLUG.$REPL_OWNER.repl.co"
modules = ["nodejs-20:v3-20230711-6807d41"]

[nix]
channel = "stable-22_11"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 9000
externalPort = 9000

[deployment]
deploymentTarget = "static"
build = ["npx", "quartz", "build"]
publicDir = "public"
